@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  background: #ECF0F1;
}
.left{
  @apply bg-white h-screen lg:w-[10%] w-[15%]   sticky top-0 left-0 border-r;
}
.right{
  @apply bg-white h-screen w-full lg:w-[30%] sticky top-0 right-0 border-l;
}
.main{
  @apply bg-white lg:w-[60%] w-[85%]
}
.header{
  @apply w-full sticky top-0 py-8 px-4 border-b bg-white
}
.App{
  max-width: 1140px;
  margin: auto;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}



